html {
    color: white;
    background-color: #111;
    font-family: sans-serif;
}

body {
    text-align: center;
}

h1 {
    color: rgb(164, 135, 233);
}

button {
    font-size: 16px;
    background-color: #ffffff20;
    padding: 4px 5px;
    border: none;
    color: white;
}

#unmute-btn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    background-color: crimson;
    background-image: url(./imgs/mute.svg);
    background-size: contain;
    border-radius: 25%;
    z-index: 10;
}

#status {
    margin-bottom: 5px;
}

.controls {
    margin-top: 5px;
}

#add-btn {
    background-color: #346434;
}

#sync-btn {
    background-color: rgb(52, 118, 173);
}

#player-wrapper {
    position: relative;
    display: inline-block;
    width: 640px;
    height: 390px;
    background-color: black;
}

#player-wrapper iframe {
    transition: opacity 0.3s ease;
}

.video-hidden iframe {
    opacity: 0;
    pointer-events: none;
}

#player-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    cursor: default;
}

#videoUrl {
    width: 300px;
    font-size: 16px;
    color: white;
    border: none;
    background-color: #ffffff20;
    padding: 4px 5px;
}

#upcoming-list {
    list-style-type: none;
}