html {
	background-color: rgb(41, 45, 49);
	text-align: center;
}

canvas {
	border: 1px solid black;
	background-color: #696969;
}

p {
	font-family: Arial;
	color: white;
	line-height: 120%;
	margin-top: 0;
	margin-bottom: 0;
}

p.color:hover {
	color: #57c1ff;
	cursor: pointer;
}

button {
	border-radius:3px;
	border: none;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:9px 23px;
}
button:active {
	position:relative;
	top:2px;
}
button.load {
	background-color:#2dabf9;
}
button.load:hover {
	background-color:#0688fa;
}
button.save {
	background-color:#4dba47;
}
button.save:hover {
	background-color:#379c32;
}