* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Atkinson, sans-serif;
}

#sidebar {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 33.33vw;
    padding: 10px 15px;
}

#sidebar h1 {
    margin-bottom: 5px;
}

#sidebar h2 {
    margin-bottom: 4px;
}

#logo {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: gold;
    padding: 5px 12px;
    border: 5px solid black;
    filter: drop-shadow(5px 5px 0px black);
}

#logo h1 {
    margin-bottom: -8px;
}

#logo h2 {
    color: #444;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    border: 5px solid black;
    filter: drop-shadow(5px 5px 0px black);
    margin-bottom: 15px;
}

.col_l {
    width: 100px;
}

.col_m {
    width: 100%;
}

.col_r {
    width: 75px;
}

td, th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding: 2px 0px;
}

th {
    color: gold;
    background-color: #444;
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: gold;
}

tr:nth-child(even) {
    background-color: rgb(255, 238, 142);
}

button {
    background-color: gold;
    border: 5px solid black;
    font-weight: bold;
    font-size: 18px;
    filter: drop-shadow(5px 5px 0px black);
    margin-bottom: 8px;
    padding: 3px 8px;
    width: 120px;
}

button:hover {
    background-color: rgb(255, 238, 142);
}

button:active {
    transform: translateY(5px) translateX(5px);
    background-color: rgb(255, 238, 142);
    filter: none;
}

.rbutton {
    position: absolute;
    right: 15px;
}

.green {
    color: rgb(0, 161, 35);
}

.red {
    color: rgb(233, 0, 0);
}

.blue {
    color: dodgerblue;
    font-weight: bold;
}

@font-face {
    font-family: Atkinson;
    src: url(./fonts/AtkinsonHyperlegible-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Atkinson;
    src: url(./fonts/AtkinsonHyperlegible-Bold.ttf);
    font-weight: bold;
}