body {
	color: white;
	font-family: sans-serif;
}

h2 {
	margin-bottom: 6px;
}

p {
	margin-top: 6px;
}

label {
	color: black;
}

#myCanvas {
	background-color: #000;
	letter-spacing: 2px;
}

#buttonBar {
	background-color: #ffffff11;
	width: 170px;
	height: 440px;
	padding: 5px;
	display: inline-block;
	vertical-align: top;
	overflow: scroll;
}

#buttonBar::-webkit-scrollbar {
	display: none;
}

#fileinput {
	display: none;
}

.inputlabel {
	background-color: #fff;
	font-family: Arial;
	font-size: 14px;
	width: 166px;
	display: inline-block;
	text-align: center;
	height: 26px;
	line-height: 26px;
	cursor: pointer;
	border: 2px solid #bbb;
	border-radius: 5px;
	margin-bottom: 2px;
	margin-top: 2px;
}

.inputlabel:hover {
	background-color: #ddd;
}

.inputlabel:active {
	position: relative;
	top: 2px;
}

#log {
	width: 784px;
	height: 300px;
	background-color: #000;
	color: #fff;
	vertical-align: top;
	padding: 0px;
	overflow-wrap: break-word;
	overflow: scroll;
	overflow-x: hidden;
	font-family: monospace;
}

body {
	background-color: #222529;
	padding: 10px;
}

button {
	width: 100%;
	height: 30px;
	margin-bottom: 2px;
	margin-top: 2px;
	background-color: #fff;
	border: 2px solid #bbb;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	font-family: Arial;
	font-size: 14px;
}

button:hover {
	background-color: #ddd;
}

button:active {
	position: relative;
	top: 2px;
}